.about {
  @extend %clearfix;
}

.about__left, .about__right {
  float: left;
  width: 50%;
  position: relative;
  //width: 100%;
}

.about__left {
  background: $beige_light;
}

.about__right {
  background: $beige;
}

.about__triangles {
  position: absolute;
  bottom: 100%;
}
.about__triangles_left {
  // для FF, т.к. съезжает в центр
  left: 0;
}

.about__section-title {
  float: left;
  width: 45%;
  margin-top: -28px;
  text-align: right;
}

.about__section-user {
  float: right;
  width: 55%;
}