.about-data {
  padding: 20px 64px 20px 40px;
  @include hd {
    padding-right: 0;
  }
  @include laptop {
    padding: 50px 0;
  }
  @include phone {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.about-data__description {
  margin-bottom: 46px;
  @include laptop {
    margin-bottom: 40px;
  }
  @include phone {
    margin-bottom: 30px;
  }
}

.about-data__content {
  @include laptop {
    padding-right: 9%;
    padding-left: 9%;
  }
  @include tablet {
    padding-left: 5%;
    padding-right: 5%;
  }
}