.article:not(:last-child):after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: rgba(55, 62, 66, 0.07);
  margin-bottom: 50px;
  @include laptop {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 35px;
  }
  @include phone {
    margin-bottom: 30px;
  }
}

.article__heading {
  font-family: SansusWebissimo;
  font-size: 36px;
  font-weight: 400;
  @include laptop {
    font-size: 30px;
  }
  @include tablet {
    font-size: 26px;
  }
  @include phone {
    font-size: 22px;
  }
}

.article__date {
  display: block;
  font-family: Roboto;
  color: rgba($dark-blue-color, 0.85);
  margin: 16px 0;
  @include laptop {
    margin: 10px 0;
  }
}

.article__text {
  margin-bottom: 16px;
}

.article__text:last-child {
  margin-bottom: 64px;
  @include laptop {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 35px;
  }
  @include phone {
    margin-bottom: 30px;
  }
}