.blog {
  position: relative;
  background: $beige_light;
  display: flex;
  padding-top: 70px;
  padding-bottom: 200px;
}

.blog__two-triangles {
  position: absolute;
  bottom: 100%;
}

.blog__table-of-contents {
  width: 30%;
  margin-top: 15px;
  margin-right: 115px;
  margin-left: 125px;
  @include hd {
    width: 35%;
    margin-right: 100px;
    margin-left: 4%; //45px;
  }
}

.blog__articles {
  width: 70%;
  margin-right: 20%;
  @include hd {
    width: 65%;
    margin-right: 9%;
  }
}

