.contact-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.contact-form__name,
.contact-form__email,
.contact-form__mess {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: rgba(#fff, 0.07);
  border-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.95);
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.contact-form__fields-section {
  width: 100%;
  padding: 0 20px 0 20px;
}

.contact-form__mess {
  height: 130px;
  resize: none;
}

.contact-form__submit,
.contact-form__reset {
  cursor: pointer;
  width: 50%;
  border-color: transparent;
  outline: none;
}

.contact-form__reset {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  &:hover {
    color: rgba(255, 255, 255, 0.95);
  }
}

//-- js --
.contact-form_disabled {
  opacity: 0.4;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.contact-form__input_error {
  outline: 1px solid $red-color;
}

.contact-form__input-wrapper {
  position: relative;
}

.contact-form__name_error {
  &:before {
    content: '';
    @include centered('x');
    top: 47px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: 53px;
    content: 'Введите ваше имя';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}

.contact-form__email_error {
  &:before {
    content: '';
    @include centered('x');
    top: 47px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: 53px;
    content: 'Некоректный email';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}

.contact-form__text_error {
  &:before {
    content: '';
    @include centered('x');
    top: 131px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: 137px;
    content: 'Напишите что-нибудь';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}