.hero {
  overflow: hidden;
  position: relative;
}

.hero_about,
.hero_blog {
  height: 600px;
  background: #003366;
//  background-image: url(../img/bg/head-bg.jpg);
//  background-position: center center;
//  background-size: cover;
  @include laptop {
    height: 590px;
  }
}

.hero_works {
  height: 600px;
  overflow: visible;
  @include laptop {
    height: 590px;
  }
}

.hero-wrapper {
  overflow: hidden;
  background: #003366;
}

.hero-wrapper__works-title {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hd {
    height: 180px;
  }
  @include laptop {
    height: 140px;
  }
  @include tablet {
    height: 120px;
  }
  @include phone {
    height: 65px;
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 459px;
  @include desktop {
    width: 400px;
  }
  @include laptop {
    width: 350px;
  }
  @include phone {
    width: 320px;
  }
}

.hero__user-block {
  padding-top: 25px;
  @include centered();
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  width: 100%;
  background-image: url(../img/bg/head-bg.jpg);
  background-position: center center;
  background-size: cover;
  @include laptop {
    background-image: url(../img/bg/head-bg-medium.jpg);
    height: 130%;
  }
  @include phone {
    background-image: url(../img/bg/head-bg-small.jpg);
  }
}

.hero__bg_about {
  height: 120%;
}

.hero__bg_blog {
  height: 120%;
}