.hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
  width: 459px;
  height: 270px;
}

.hero__user-block {
  padding-top: 25px;
  @include centered();
}

.hero__bg {
  height: 100%;
}

.hero__bg-img {
  margin: -400px 0 0 -60px;
  vertical-align: top;
}