.hero {
  overflow: hidden;
  position: relative;
}

.hero_about {
  height: 600px;
}

.hero_blog {
  height: 400px;
}

.hero_works {
  height: 600px;
  overflow: visible;
}

.hero-wrapper {
  overflow: hidden;
}

.hero-wrapper__works-title {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 459px;
  height: 270px;
}

.hero__user-block {
  padding-top: 25px;
  @include centered();
}

.hero__bg {
  height: 100%;
}

.hero__bg-img {
  width: 100%;
  object-fit: cover;
  //  height: 100%;
}
