//-- js ----------------------
.login_disabled {
  opacity: 0.4;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
//-------------------------
.login__title {
  font-family: SansusWebissimo;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 36px;
}

.login__input {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  position: relative;
}

.login__input_error {
  &:before {
    content: '';
    @include centered('x');
    top: 47px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: 53px;
    content: 'Введите логин';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}

.pass__input_error {
  &:before {
    content: '';
    @include centered('x');
    top: 47px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: 53px;
    content: 'Введите пароль';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}

.login__input-field {
  width: 100%;
  padding: 12px 15px 12px 60px;
}

.login__img {
  height: 18px;
  width: 18px;
  left: 40px;
  @include centered(y);
}

.login__img_fill_grey {
  fill: #c4cbcd;
}

.login__img_fill_red {
  fill: $red-color;
}

.login__img_fill_blue {
  fill: $bright-blue-color;
}

.login__button {
  cursor: pointer;
  outline: none;
  width: 100%;
  border: 0;
}

.login__check-text,
.login__radio-quest,
.login__radio-text {
  vertical-align: middle;
  color: rgba(#ffffff, 0.75);
}

.login__radio-quest {
  font-weight: 700;
  margin-bottom: 10px;
}

.login__check-text,
.login__radio-text {
  padding-left: 10px;
}

.login__check-field {
  display: inline-block;
}

.login__checkbox,
.login__radio {
  display: none;
}

.login__checkbox-wrapper,
.login__radio-wrapper,
.login__radio-quest {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.login__checkbox-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.login__checkbox-wrapper_error {
  &:before {
    content: '';
    @include centered('x');
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 6px solid $red-color;
    z-index: 1;
  }
  &:after {
    @include centered('x');
    top: -64px;
    content: 'Роботам вход закрыт';
    padding: 16px;
    width: 180px;
    text-align: center;
    background: $red-color;
    color: #ffffff;
    border-radius: 5px;
    z-index: 1;
  }
}

.login__checkmark,
.login__radio-mark {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: relative;
}

.login__checkmark {
  border-radius: 2px;
  background: $bright-blue-color;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.login__checkbox:checked + .login__checkmark:after {
  display: block;
}

.login__radio-mark {
  border-radius: 50%;
  background: #ffffff;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: $bright-blue-color;
    border-radius: 50%;
  }
}

.login__radio:checked + .login__radio-mark:after {
  display: block;
}

.login__radio-wrapper {
  margin-bottom: 25px;
}

.login__radio-label:first-child {
  margin-right: 40px;
}

.login__input-field_error {
  outline: 1px solid red;
}