.map {
  height: 1115px;
  overflow: hidden;
  position: relative;
  @include desktop {
    height: 975px;
  }
  @include laptop {
    height: 950px;
  }
}

.map__contacts {
  @include centered();
  top: 40%;
}

.map__bg-img {
  min-width: 100%;
  min-height: 100%;
}