.page-links__item {
  display: inline-block;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  @include hd {
    margin-right: 25px;
  }
}

.page-links__link {

  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.1s;
  &:hover {
    color: $bright-blue-color;
    opacity: 1;
  }
}