.pages {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

.pages__item {
  position: relative;
  &:not(:last-child):after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(222, 227, 231, 0.5);
    top: 0;
    right: 0;
  }
}

.pages__item_w50 {
  width: 50%;
}

.pages__item_w40 {
  width: 40%;
}

.pages__item_w30 {
  width: 30%;
}