.preview-page {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #a4a5ad, #cdced6);
    opacity: 0.7;
    z-index: 1;
  }
}

.preview-page__icon {
  @include centered();
  width: 43px;
  height: 27px;
  fill: #fff;
  filter: drop-shadow(1px 2px 2px #727272);
  overflow: visible;
  z-index: 2;
  transition: top 0.2s;
  transition-timing-function: cubic-bezier(0.95,-0.1, 0.37, 0.85);
}

.preview-page_prev:hover .preview-page__icon {
  top: 55%;
}

.preview-page_next:hover .preview-page__icon {
  top: 45%;
}

.preview-page:active .preview-page__icon {
  fill: #dedede;
  filter: drop-shadow(1px 2px 2px transparent);
}

.preview-page__slider {
  width: 80%;
  height: 70%;
  z-index: 0;
}
