.skill-section {
  margin-bottom: 30px;
}

.skill-section__item {
  display: inline-block;
  margin-right: 36px;
}

.skill-section__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}