.socials__hero {
  position: absolute;
  top: 30px;
  left: 30px;
  @include phone {
    top: 15px;
    left: 15px;
  }
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  &:hover .socials__icon {
    fill: $bright-blue-color;
  }
}

.socials__icon {
  width: 32px;
  height: 22px;
  transition: fill 0.1s;
  @include phone {
    width: 27px;
    height: 20px;
  }
}

.socials__icon_white {
  fill: #ffffff;
}

.socials__icon_grey {
  fill: rgba(#ffffff, 0.3);
}