.speaker {
  width: 50%;
  margin: 13px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 75px;
    height: 61px;
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/content/quote.png);
  }
  @include laptop {
    width: 80%;
  }
  @include phone {
    width: 94%;
  }
}

.speaker__img {
  display: block;
  width: 77px;
  height: 77px;
  margin: 0 auto 10px auto;
}

.speaker__text,
.speaker__name {
  color: rgba(#fff, 0.8);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}

.speaker__text {
  text-align: left;
  margin-bottom: 15px;
}

.speaker__name {
  text-align: center;
}