.talks {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1351px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/bg/talks-bg.jpg);
}

.talks__section-title {
  width: 35%;
}

.talks__section-title {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.talks__speakers {
  display: flex;
  width: 47%;
}

.talks__contact-me {
  margin-top: 60px;
}