.title {
  font-family: SansusWebissimo, sans-serif;
  font-size: 63px;
  line-height: 1;
  text-transform: uppercase;
  padding: 35px 60px;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

