.title {
  font-family: SansusWebissimo, sans-serif;
  font-size: 63px;
  line-height: 1;
  text-transform: uppercase;
  padding: 35px 60px;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  @include laptop {
    font-size: 50px;
  }
  @include phone {
    font-size: 38px;
    padding: 18px 0;
  }
}

.title_blog {
  padding: 20px 0;
  color: #ffffff;
}