.triangle,
.two-triangles {
  height: 150px;
  @include desktop {
    height: 110px;
  }
  @include laptop {
    height: 85px;
  }
  @include tablet {
    height: 60px;
  }
  @include phone {
    height: 35px;
  }
}

.triangle {
  width: 50%;
  &_fill {
    &_left {
      fill: $beige;
    }
    &_right {
      fill: $beige_light;
      @include laptop {
        fill: $beige;
      }
    }
  }
}

.two-triangles {
  width: 100%;
}

.two-triangles_fill_beige-light {
  fill: $beige_light;
}