.user-about {
  padding: 20px;
  @include hd {
    padding: 20px 80px;
  }
  @include laptop {
    padding-bottom: 45px;
    padding-left: 18%;
    padding-right: 18%;
  }
  @include tablet {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.user-about__picture-img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.user-about__title {
  margin-top: 30px;
  margin-bottom: 28px;
}

.user-about__text {
  margin-bottom: 10px;
}

.user-about__text p {
  margin-bottom: 10px;
}