.user-about {
  padding: 20px;
}

.user-about__picture-img {
  width: 100%;
}

.user-about__title {
  margin-top: 30px;
  margin-bottom: 28px;
}

.user-about__text {
  margin-bottom: 10px;
  padding-right: 30px;
}
.user-about__text p {
  margin-bottom: 10px;
}