.welcome {
  min-width: 320px;
  width: 100%;
  min-height: 525px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: $main-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bg/welcome-bg-small.jpg);
  @include tablet {
    min-height: 660px;
  }
  @include phone {
    min-height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.welcome__bg {
  position: fixed;
  min-width: 120%;
  height: 60vh;
  left: -10%;
  bottom: -10%;
  background-image: url(../img/bg/bg-nofill.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  @include laptop {
    display: none;
  }
}

.welcome__video {
  position: fixed;
  min-width: 102%;
  min-height: 102%;
  left: -1%;
  top: 0;
  @include laptop {
    display: none;
  }
}

.welcome__button {
  position: absolute;
  top: 24px;
  right: 100px;
  width: 180px;
  background: transparent;
  border: 1px solid #fff;
  &:hover {
    border-color: transparent;
  }
  @include hd {
    right: 24px;
  }
  @include laptop {
    top: 20px;
    right: 20px;
  }
  @include tablet {
    @include centered(x);
  }
  @include phone {
    top: 3%;
  }
}

.welcome__title,
.welcome__login {
  width: 380px;
  padding-top: 38px;
  padding-bottom: 45px;
  background-color: rgba(28, 31, 41, 0.5);
  @include centered();
  top: 45%;
  @include phone {
    width: 74%;
    min-width: 300px;
    top: 55%;
  }
}

.welcome__socials {
  margin: 35px auto;
  text-align: center;
}

.welcome__footer {
  @include centered(x);
  bottom: 40px;
  width: 80%;
  text-align: center;
  @include tablet {
    bottom: 20px;
  }
  @include phone {
    display: none;
  }
}