.welcome {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: $main-bg-color;
  @include tablet {
    min-height: 660px;
  }
  @include phone {
    min-height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.welcome__bg {
  position: absolute;
  height: 100%;
  width: 2300px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-1150px);
  background-image: url(../img/bg/bg-nofill.png);
  background-repeat: no-repeat;
  background-position: center bottom;
/*  @include widescreen {
    width: 5760px;
    background-image: url(../img/bg/bg-nofill-x2.png);
  }*/
}
.welcome__video {
  display: block;
  position: fixed;
  right: -0.5%;
  bottom: 0;
  min-width: 101%;
  min-height: 101%;
}

.welcome__button {
  position: absolute;
  top: 24px;
  right: 100px;
  width: 180px;
  background: transparent;
  border: 1px solid #fff;
  &:hover {
    border-color: transparent;
  }
  @include hd {
    right: 24px;
  }
  @include laptop {
    top: 20px;
    right: 20px;
  }
  @include tablet {
    @include centered(x);
  }
  @include phone {
    top: 3%;
  }
}

.welcome__title,
.welcome__login {
  width: 380px;
  padding-top: 38px;
  padding-bottom: 45px;
  background-color: rgba(28, 31, 41, 0.5);
  @include centered();
  top: 45%;
  @include phone {
    width: 74%;
    min-width: 300px;
    top: 55%;
  }
}

.welcome__socials {
  margin: 35px auto;
  text-align: center;
}

.welcome__footer {
  @include centered(x);
  bottom: 40px;
  width: 80%;
  text-align: center;
  @include tablet {
    bottom: 20px;
  }
  @include phone {
    display: none;
  }
}