.welcome {
  min-width: 320px;
  width: 100%;
  min-height: 525px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $main-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include desktop {
    background-image: url(../img/bg/head-bg-medium.jpg);
  }
  @include phone {
    background-image: url(../img/bg/head-bg-small.jpg);
  }
  @include tablet {
    min-height: 660px;
  }
  @include phone {
    min-height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.welcome__bg {
  position: fixed;
  min-width: 110%;
  height: 57vh;
  left: -5%;
  bottom: -5%;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: auto 100%;
  @include desktop {
    display: none;
  }
}

.welcome__video {
  position: fixed;
  min-width: 102%;
  min-height: 102%;
  left: -1%;
  top: 0;
  @include desktop {
    display: none;
  }
}

.welcome__button {
  position: absolute;
  top: 24px;
  right: 100px;
  width: 180px;
  background: transparent;
  border: 1px solid #fff;
  &:hover {
    border-color: transparent;
  }
  @include hd {
    right: 24px;
  }
  @include laptop {
    top: 20px;
    right: 20px;
  }
  @include tablet {
    @include centered(x);
  }
  @include phone {
    top: 3%;
  }
}

.welcome__title,
.welcome__login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 38px;
  padding-bottom: 45px;
  background-color: rgba(28, 31, 41, 0.5);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.welcome__login {
  transform: rotateY(-180deg);
}

.welcome__socials {
  margin: 35px auto;
  text-align: center;
}

.welcome__footer {
  @include centered(x);
  bottom: 40px;
  width: 80%;
  text-align: center;
  @include tablet {
    bottom: 20px;
  }
  @include phone {
    display: none;
  }
}