.works-block {
  width: 50%;
  @include laptop {
    width: 100%;
  }
}

.works-block__left {
  background: $beige_light;
  display: flex;
  justify-content: center;
  align-items: center;
  @include laptop {
    display: none;
  }
}

.works-block__right {
  background: $beige_darker;
}
