.work-description {
  padding: 45px 0 60px 0;
  background: $beige_light;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  @include laptop {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  @include phone {
    padding: 33px 0;
  }
}

.work-description__title {
  text-align: center;
  width: 45%;
  margin: 0 auto 28px auto;
  transition: opacity 0.3s;
  @include hd {
    width: 55%;
  }
  @include desktop {
    width: 70%;
  }
  @include laptop {
    width: 70%;
  }
}

.work-description__technology {
  transition: opacity 0.3s;
  font-family: Roboto;
  text-transform: uppercase;
  color: rgba($dark-blue-color, 0.85);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.work-description__button {
  transition: opacity 0.3s;
  margin: 58px auto 0;
  width: 200px;
  @include tablet {
    margin-top: 33px;
  }
  @include phone {
    margin-top: 20px;
  }
}