include common/mixins
include common/data

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(content="Andrey Vershinin" name="author")
        meta(content="My name is Andrey Vershinin and I am a frontend-developer. This is my personal portfolio web-site. Feel free to contact me." name="description")
        meta(content="web-developer frontend-developer javascript js" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        link(rel='icon' href='./assets/img/content/fav.png' type='img/png')
        //- favicon block end

        link(rel='stylesheet' href='./assets/css/foundation.css')
        link(rel='stylesheet' href='./assets/css/app.css')
        //- script(src='/assets/js/foundation.js' defer)
        //- script(src='/assets/js/main.js' defer)

        // polyfill to use svg sprite in IE
        script(src='./assets/js/svgxuse.min.js' defer)

        script(src='./assets/js/main.js')

        <!--[if lt IE 9]>
        script(defer src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

        title
            block title

    body
        .wrapper

            include common/navigation

            block content
