$beige_light: #f2f0e9;
$beige: #ebe9e3;
$beige_darker: #e3e2de;
$main-font-color : #474b57;
$bright-blue-color: #0548be;
$dark-blue-color: #083c96;
$red-color: #cc3333;
$main-bg-color: #223b65;
//mixins
@import "helpers/mixins";

//layout setups
@import "common/setups";
@import "common/fonts";

/*//mixins
@import "helpers/mixins";*/

@import "blocks/**/*";