$white : #efeee9;
$beige: #eeebdf;
$main-font-color : #474b57;
$bright-blue-color: #0548be;
$dark-blue-color: #083c96;

//layout setups
@import "common/setups";
@import "common/fonts";

//mixins
@import "helpers/mixins";

@import "blocks/**/*";