-
    var socialLinks = {
    'vk' : 'https://vk.com/adw006',
    'fb' : 'https://www.facebook.com/Andrey.Vershinin',
    'github' : 'https://github.com/AnDeVerin'
    }

-
    var skills = {
        'Frontend' : {
            'HTML5' : 'circle.svg',
            'CSS3' : 'circle.svg',
            'JavaScript & jQuery' : 'circle.svg'
        },
        'Backend' : {
            'PHP' : 'circle.svg',
            'mySQL' : 'circle.svg',
            'Node.js & npm' : 'circle.svg',
            'Mongo.db' : 'circle.svg'
        },
        'WorkFlow' : {
            'Git' : 'circle.svg',
            'Gulp' : 'circle.svg',
            'Bower' : 'circle.svg'
        }
    }