
nav.nav#nav
    a(href='#').nav__close-button#close-nav-button &times;

    ul.nav__list
        li.nav__item
            a(href='works.html').nav__link Мои работы
        li.nav__item
            a(href='blog.html').nav__link Блог
        li.nav__item
            a(href='about.html').nav__link Обо мне
        li.nav__item
            a(href='/').nav__link Авторизация



