-
    var socialLinks = {
    'vk' : 'https://vk.com/adw006',
    'fb' : 'https://www.facebook.com/Andrey.Vershinin',
    'github' : 'https://github.com/AnDeVerin'
    }

-
    var skills = {
    'Frontend' : ['HTML5', 'CSS3', 'JavaScript'],
    'Backend' : ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db'],
    'WorkFlow' : ['Git', 'Gulp', 'Webpack']
    }

-
    var contacts = {
    'email' : { 'link' : 'mailto:adw006 (dog) yandex', 'name' : 'adw006(dog)yandex'},
    'skype' : { 'link' : 'skype:adw006', 'name' : 'adw006'},
    'tel' : { 'link': 'tel:+79127345363', 'name' : '+7 912 734 5363'},
    'adr' : { 'link' : '#', 'name' : 'Россия, г. Киров'}
    }

