-
    var socialLinks = {
    'vk' : 'https://vk.com/adw006',
    'fb' : 'https://www.facebook.com/Andrey.Vershinin',
    'github' : 'https://github.com/AnDeVerin'
    }

//-
    var skills = {
    'Frontend' : ['HTML5', 'CSS3', 'JavaScript'],
    'Backend' : ['PHP', 'mySQL', 'NodeJS & npm', 'MongoDB'],
    'WorkFlow' : ['Git', 'Gulp', 'Webpack']
    }

//- skills:
        { WorkFlow: { Webpack: 0, Gulp: 0, Git: 0 },
        Backend: { MongoDB: 0, 'NodeJS & npm': 0, mySQL: 0, PHP: 0 },
        Frontend: { JavaScript: 100, CSS3: 0, HTML5: 0 } } }


-
    var contacts = {
    'email' : { 'link' : 'mailto:adw006 (dog) yandex', 'name' : 'adw006(dog)yandex'},
    'skype' : { 'link' : 'skype:adw006', 'name' : 'adw006'},
    'tel' : { 'link': 'tel:+79127345363', 'name' : '+7 912 734 5363'},
    'adr' : { 'link' : '#', 'name' : 'Россия, г. Киров'}
    }

