
nav.nav#nav
    a(href='#').nav__close-button#close-nav-button &times;

    ul.nav__list
        li.nav__item
            a(href='works').nav__link Portfolio
        li.nav__item
            a(href='blog').nav__link Blog
        li.nav__item
            a(href='about').nav__link About me
        li.nav__item
            a(href='./').nav__link Login



