.preloader
    svg.preloader__circle(viewBox='0 0 110 110')
        circle.preloader__circle_fill(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
    .preloader__spinner
        .preloader__spinner-animation
    .preloader__procent 0%