doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        link(rel='icon' href='./assets/img/content/fav.png' type='img/png')
        //- favicon block end

        link(rel='stylesheet' href='./assets/css/foundation.css')
        link(rel='stylesheet' href='./assets/css/app.css')

        script(src='./assets/js/main.js')

        title Admin panel


    body
        .wrapper.admin
            header.admin__header(data-page='admin')
                .admin__header-name Панель администрирования
                a.admin__header-link(href="/") Вернуться на сайт

            ul.admin__tabs
                li.tabs__item.tabs__item_active
                    a.tabs__link(href='#') Обо мне
                li.tabs__item
                    a.tabs__link(href='#') Блог
                li.tabs__item
                    a.tabs__link(href='#') Мои работы

            ul.admin__pages
                li.admin__page.admin-about
                    .admin__page-title Страница "Обо мне"
                    ul.admin-about__skills

                        li.admin-about__item
                            .admin-about__item-name Frontend
                            ul.admin-about__skills-set
                                li.admin-about__skill-item
                                    .admin-about__skill-name HTML
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name CSS
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name JavaScript
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')

                        li.admin-about__item
                            .admin-about__item-name Backend
                            ul.admin-about__skills-set
                                li.admin-about__skill-item
                                    .admin-about__skill-name PHP
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name mySQL
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name Node.js
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name Mongo.db
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')

                        li.admin-about__item
                            .admin-about__item-name Workflow
                            ul.admin-about__skills-set
                                li.admin-about__skill-item
                                    .admin-about__skill-name Git
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name Gulp
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')
                                li.admin-about__skill-item
                                    .admin-about__skill-name Webpack
                                    .admin-about__skill-value 0
                                    input.admin-about__skills-input(type='range' min='0' max='100' step='5')