include ../common/data

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        link(rel='icon' href='./assets/img/content/fav.png' type='img/png')
        //- favicon block end

        link(rel='stylesheet' href='./assets/css/foundation.css')
        link(rel='stylesheet' href='./assets/css/app.css')

        script(src='./assets/js/main.js')

        title Admin panel


    body
        .wrapper.admin
            header.admin__header(data-page='admin')
                .admin__header-name Панель администрирования
                a.admin__header-link(href="/") Вернуться на сайт

            ul.admin__tabs
                li.tabs__item.tabs__item_active
                    a.tabs__link(href='#') Обо мне
                li.tabs__item
                    a.tabs__link(href='#') Блог
                li.tabs__item
                    a.tabs__link(href='#') Мои работы

            ul.admin__pages
                li.admin__page.admin-about
                    .admin__page-title Страница "Обо мне"

                    ul.admin-about__skills
                        each skillSection, skillSectionTitle in skills
                            li.admin-about__item
                                .admin-about__item-name=skillSectionTitle
                                ul.admin-about__skills-set
                                    each skillName in skillSection
                                        li.admin-about__skill-item
                                            .admin-about__skill-name= skillName
                                            .admin-about__skill-value 0%
                                            input.admin-about__skills-input(type='range' min='0' max='100' step='5' value='0')
                    input.admin-about__button.button(type='button' value='Сохранить')

                li.admin__page.admin-blog
                    .admin__page-title Страница "Блог"
                    form.admin-blog__form
                        .admin-blog__form-name.admin-about__item-name Добавить запись
                        input.admin-blog__form-title(type='text' name='title' placeholder='Название')
                        input.admin-blog__form-date(type='date' name='date' placeholder='Дата')
                        textarea.admin-blog__form-text(name='text' placeholder='Содержание')
                        input.admin-about__button.button(type='submit' value='Добавить')

                li.admin__page.admin-works.admin__page_active
                    .admin__page-title Страница "Мои работы"
                    form.admin-works__form
                        .admin-about__item-name Добавить работу
                        input.admin-blog__form-title(type='text' name='title' placeholder='Название проекта')
                        input.admin-blog__form-title(type='text' name='tech' placeholder='Технологии')
                        input.admin-about__file-button(type='file')
                        input.admin-about__button.button(type='submit' value='Добавить')