include ../common/data

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(content="Andrey Vershinin" name="author")
        meta(content="A JavaScript-developer's portfolio web-site." name="description")
        meta(content="web-developer frontend javascript js" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        link(rel='icon' href='./assets/img/content/fav.png' type='img/png')
        //- favicon block end

        link(rel='stylesheet' href='./assets/css/foundation.css')
        link(rel='stylesheet' href='./assets/css/app.css')
        //- script(src='/assets/js/foundation.js' defer)
        //- script(src='/assets/js/main.js' defer)

        // polyfill to use svg sprite in IE
        script(src='./assets/js/svgxuse.min.js' defer)

        //
        script(src='./assets/js/main.js')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

        title Welcome


    body
        include ../common/preloader
        .wrapper
            main.welcome(data-page='index')
                //-video(autoplay muted loop).welcome__video
                    source(src="#" type="video/mp4")
                .welcome__bg

                a(href="#").button.welcome__button#auth-button Авторизоваться

                .flip-container
                    .contact-me__confirm
                        .contact-me__confirm-mess Сообщение
                        a.contact-me__confirm-button.button(href='#') Закрыть

                    .welcome__title#login-front
                        .user.welcome__user-block
                            .user__photo
                                .user__photo-avatar
                                    img(src="assets/img/content/about.jpg", alt="my photo").user__photo-img
                            .user__name Андрей Вершинин
                            .user__desc Личный сайт веб-разработчика

                        ul.welcome__socials
                            each item, key in socialLinks
                                li.socials__item
                                    a(href=`${item}` target='_blank' class='socials__link')
                                        svg.socials__icon.socials__icon_grey
                                            use(xlink:href=`assets/img/sprite.svg#${key}`)

                        ul.pages
                            li.pages__item.pages__item_w40
                                a(href='works').button.pages__button.button_w40 Мои работы
                            li.pages__item.pages__item_w30
                                a(href='about').button.pages__button.button_w30 Обо мне
                            li.pages__item.pages__item_w30
                                a(href='blog').button.pages__button.button_w30 Блог


                    .login.welcome__login#login-back

                        .login__title Авторизуйтесь
                        form(action='#' method='POST').login__form
                            .login__input
                                input(type='text' placeholder='Логин' name='name').login__input-field
                                svg.login__img.login__img_fill_grey
                                    use(xlink:href='assets/img/sprite.svg#login')
                            .login__input
                                input(type='password' placeholder='Пароль' name='pass').login__input-field
                                svg.login__img.login__img_fill_grey
                                    use(xlink:href='assets/img/sprite.svg#password')

                            .login__checkbox-wrapper
                                label.login__check-field
                                    input(type='checkbox' name='human').login__checkbox
                                    .login__checkmark
                                    span.login__check-text Я человек

                            .login__radio-quest Вы точно не робот?

                            .login__radio-wrapper
                                label.login__radio-label
                                    input(type='radio' name='robot' value='yes').login__radio
                                    .login__radio-mark
                                    span.login__radio-text Да

                                label.login__radio-label
                                    input(type='radio' name='robot' value='no').login__radio
                                    .login__radio-mark
                                    span.login__radio-text Не уверен

                            ul.pages
                                li.pages__item.pages__item_w50
                                    a(href='#').button.login__button#to-main-button На главную
                                li.pages__item.pages__item_w50
                                    button(type='submit').button.login__button Войти



                footer.welcome__footer.footer__text
                    | &#169; Вёрстка и программирование Андрей Вершинин, идея и дизайн &#32;
                    a(href='https://loftschool.com/' target='_blank').copyright__ls LoftSchool
                    | , 2017
