include ../common/data

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='./assets/css/foundation.css')
        link(rel='stylesheet' href='./assets/css/app.css')
        //- script(src='/assets/js/foundation.js' defer)
        //- script(src='/assets/js/app.js' defer)

        // polyfill to use svg sprite in IE
        script(src='./assets/js/svgxuse.min.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

        title Login


    body
        .wrapper
            main.welcome
                .welcome__bg
                    img(src="assets/img/bg/head-bg.jpg", alt="").welcome__bg-img

                .login.welcome__login
                    .login__title Авторизуйтесь
                    form(action='#').login__form
                        .login__input
                            input(type='text' placeholder='Логин' name='uName' required).login__input-field
                            svg.login__img.login__img_fill_grey
                                use(xlink:href='assets/img/sprite.svg#login')
                        .login__input
                            input(type='password' placeholder='Пароль' name='psw' required).login__input-field
                            svg.login__img.login__img_fill_grey
                                use(xlink:href='assets/img/sprite.svg#password')

                        .login__checkbox-wrapper
                            label.login__check-field
                                input(type='checkbox').login__checkbox
                                .login__checkmark
                                span.login__check-text Я человек

                        .login__radio-quest Вы точно не робот?

                        .login__radio-wrapper
                            label.login__radio-label
                                input(type='radio' name='robot' value='yes').login__radio
                                .login__radio-mark
                                span.login__radio-text Да

                            label.login__radio-label
                                input(type='radio' name='robot' value='no').login__radio
                                .login__radio-mark
                                span.login__radio-text Не уверен



                        ul.pages
                            li.pages__item.pages__item_w50
                                a(href='index.html').button.login__button На главную
                            li.pages__item.pages__item_w50
                                button(type='submit').button.login__button Войти



                footer.welcome__footer.footer__text
                    | &#169; Вёрстка и программирование Андрей Вершинин, идея и дизайн &#32;
                    a(href='https://loftschool.com/' target='_blank').copyright__ls LoftSchool
                    | , 2017